/* Banner */

@media (min-width: 300px) {
  .AdContainer {
    width: 300px;
  }
  .banner {
    height: 100px;
  }
  .banner_sm {
    height: 50px;
  }
  .rectangle {
    height: 200px;
  }
}
@media (min-width: 468px) {
  .AdContainer {
    width: 468px;
    height: 60px;
  }
}
@media (min-width: 728px) {
  .AdContainer {
    width: 728px;
    height: 90px;
  }
}
@media (min-width: 970px) {
  .AdContainer {
    width: 970px;
    height: 90px;
  }
  .safe {
    width: 728px;
  }
  .banner_lg {
    height: 250px;
  }
}

@media (min-width: 1920px) {
  .safe {
    width: 970px;
  }
}

ins.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}
