@tailwind base;
@tailwind components;
@tailwind utilities;

/* Banner */

@media (min-width: 300px) {
  .AdContainer {
    width: 300px;
  }
  .banner {
    height: 100px;
  }
  .banner_sm {
    height: 50px;
  }
  .rectangle {
    height: 200px;
  }
}
@media (min-width: 468px) {
  .AdContainer {
    width: 468px;
    height: 60px;
  }
}
@media (min-width: 728px) {
  .AdContainer {
    width: 728px;
    height: 90px;
  }
}
@media (min-width: 970px) {
  .AdContainer {
    width: 970px;
    height: 90px;
  }
  .safe {
    width: 728px;
  }
  .banner_lg {
    height: 250px;
  }
}

@media (min-width: 1920px) {
  .safe {
    width: 970px;
  }
}

ins.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}

/* Footer */
.site-footer {
  @apply mt-3 bg-cyan-700 text-center text-xs text-sky-200;
}
.footer-nav {
  @apply space-x-5 bg-cyan-500 p-3 shadow;
}
.copyright {
  @apply py-7 text-sky-200/50;
}

/* Page */

.page {
  @apply p-6 xl:mx-auto xl:w-[1120px];
}

.page h1 {
  @apply text-xl font-bold;
}
.page h2 {
  @apply my-3 font-bold;
}
.page p {
  @apply my-2;
}
.page a {
  @apply underline;
}
.page ul {
  @apply my-2 ml-4 list-outside list-disc;
}
